
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Helvetica', sans-serif;
}

#logo-img{
  max-width: 100px;
  max-height: 100px;
  margin-left: 5%;
  padding: 5px;
}

#logo-header{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(105,105,105);
  align-items: left;
  display: inline;
  x: 20%;
}

a {
color: rgba(130,130,130,.57);
text-decoration: none;
}

li :hover{
  color: rgb(105,105,105);
}

.wrapper {
padding-top: 94px;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
}

.parent {
position: fixed;
top: 0;
left: 0;
margin: auto;
width: 100%;
border-bottom: 1px solid #ddd;
}

.navbar {
display: flex;
justify-content: space-between;
background-color: #fff;
font-family: 'Roboto Condensed', sans-serif;
}

.menu {
display: flex;
align-items: center;
font-family: 'Roboto Condensed', sans-serif;
}

.menu ul {
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
}

.menu li {
padding: 20px;
margin-left: 20px;
font-size: 16px;
font-weight: bold;
}

#div2{
  background-image: url(https://1.bp.blogspot.com/-M7YyDAQxpyU/W1YoPTdsmwI/AAAAAAAAJIA/8oMhPsuvepA3QObLG_MiKspCaXKAhH0VwCLcBGAs/s1600/skulls-polly-vadasz-03.jpg);
  /* background-color: orange; */
  /* width: 20px;
  height: 20px; */
  flex-direction: row;
}

#div3{
  background-color: Gainsboro;
  /* width: 20px;
  height: 20px; */
}

#div4{
  background-color: LightGray;
  /* width: 20px;
  height: 20px; */
}
#div5{
  background-color: #BEBEBE;
  /* width: 20px;
  height: 20px; */
}
#div6{
  background-color: DarkGray;
  /* width: 20px;
  height: 20px; */
}
#div7{
  background-color: #696969;
  /* width: 20px;
  height: 20px; */
}
.sub2{
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.sub3{
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.sub4{
  text-align: center;
  width: 33%;
}

.sub4 ul {
  list-style: none;
}
.categories {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 10px; */
  height: 500px;
}
hr{

}
.welcome{
  text-align: center;
}
.contact-info a{
  color: white;
}

.contact-info a:hover{
  color: black;
}
.skills-header{
  text-align: center;
  background-color: LightGray;
}

.flex-item {
    display:flex;
    align-items: center;
    width: 350px;
}

.flex-item ul{
  list-style: none;
}
.profile-img{
  border-radius: 100%;
  max-heigth: 150px;
  max-width: 150px;
}
