
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Helvetica', sans-serif;
}

#logo-img{
  max-width: 100px;
  max-height: 100px;
  margin-left: 5%;
  padding: 5px;
}

#logo-header{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(105,105,105);
  align-items: left;
  display: inline;
  x: 20%;
}

a {
color: rgba(130,130,130,.57);
text-decoration: none;
}

li :hover{
  color: rgb(105,105,105);
}

.wrapper {
padding-top: 94px;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
}

.parent {
position: fixed;
top: 0;
left: 0;
margin: auto;
width: 100%;
border-bottom: 1px solid #ddd;
}
.categories {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 10px; */
  height: auto;
}
.navbar {
display: flex;
justify-content: space-between;
background-color: #fff;
font-family: 'Roboto Condensed', sans-serif;
}

.menu {
display: flex;
align-items: center;
font-family: 'Roboto Condensed', sans-serif;
}

.menu ul {
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
}

.menu li {
padding: 20px;
margin-left: 20px;
font-size: 16px;
font-weight: bold;
}
.section-title{
  text-align: center;
  font-family: font-family: 'Roboto Condensed', sans-serif;
  padding: 15px;
}
#div2{
  background-image: url(https://1.bp.blogspot.com/-M7YyDAQxpyU/W1YoPTdsmwI/AAAAAAAAJIA/8oMhPsuvepA3QObLG_MiKspCaXKAhH0VwCLcBGAs/s1600/skulls-polly-vadasz-03.jpg);
  flex-direction: row;
  height: 400px;
}
  .sub2{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }
  .flex-item {
      display:flex;
      align-items: center;
      width: 350px;
  }

  .flex-item ul{
    list-style: none;
  }
  .profile-img{
    border-radius: 100%;
    max-heigth: 150px;
    max-width: 150px;
  }
#div3{
  background-color: Gainsboro;
  height: 400px;
  /* width: 20px;
  height: 20px; */
}
  .skills-header{
    text-align: center;
    background-color: LightGray;
  }
  .sub3{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }
  .columns{
    display: flex;
    padding: 20px;
  }
#div4{
  background-color: LightGray;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  /* width: 20px;
  height: 20px; */
}
  .sub4{
    flex-direction: row;
    text-align: center;
    width: 33%;
    /* border: 2px solid green; */
    padding: 0px 15px;
  }
  .sub4 ul {
    list-style: none;
  }
  .sub4 img {
    max-width: 25%;
    max-width: 25%;
  }
#code {
  background-color: #BEBEBE;
  padding-top: 94px;
}
#div5{
  background-color: #BEBEBE;
  flex-wrap: wrap;
  align-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  /* width: 20px;
  height: 20px; */
}
  .sub5{
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 33%;
    border: 2px solid green;
    /* padding: 0px 15px; */
  }
  .sub5 img{
    max-width: 75%;
  }
#art{
  background-color: DarkGray;
  padding-top: 94px;
}
#div6{
  background-color: DarkGray;
  flex-wrap: wrap;
  align-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  /* width: 20px;
  height: 20px; */
}
  .sub6{
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 33%;
    border: 2px solid green;
    /* padding: 0px 15px; */
  }
  .sub6 img{
    max-width: 75%;
  }
#div7, #img-source{
  background-color: #696969;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  /* width: 20px;
  height: 20px; */

}
#img-source{
  padding-bottom: 15px;
}
#img-source a{
  color: black;
}
.social-nav {
display: flex;
justify-content: center;
font-family: 'Roboto Condensed', sans-serif;
/* max-height: 200px; */
}

.social-menu {
display: flex;
align-items: center;
font-family: 'Roboto Condensed', sans-serif;
}

.social-menu ul {
display: flex;
align-items: center;
list-style: none;
}

.social-menu li {
padding: 20px;
/* margin-left: 20px; */
/* font-size: 16px; */
font-weight: bold;
list-style: none;
}

.social-icon img{
  max-width: 50%;
  max-height: 50%;
}
.social-logo img {
  max-width: 25%;
  max-height: 25%;
}

  .welcome{
    text-align: center;
  }
